@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is ever growing community, and we hope to see you soon!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enroll today!</h2>
        <p>You can enroll in our many classes that are available right here!</p>
        <p><a class="btn btn-default" asp-area="" asp-controller="Students" asp-action="Create">Enroll Now! &raquo;</a></p>        
    </div>
</div>
<div class="row">
    <img class="img-fluid" src="~/imgs/pexels-marta-siedlecka-586570.jpg" alt="University Steps"/>
</div>